@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .section-padding {
    @apply px-[6rem] py-[4rem] sm:px-[2rem];
  }

  .flex-center {
    @apply flex items-center justify-center;
  }

  .app-bg {
    @apply bg-[url('./assets/bg.png')] bg-cover
     bg-fixed bg-center bg-repeat;
  }

  .app-wrapper {
    @apply flex min-h-screen items-center 
    justify-between md:flex-col;
  }

  .app-wrapper-info {
    @apply flex w-full flex-1 flex-col 
    items-start justify-center;
  }

  .app-wrapper-img {
    @apply ml-[2rem] flex flex-1 
    items-center justify-center;
  }

  .app-wrapper-img-reverse {
    @apply mr-[2rem] justify-start;
  }

  .p-cormorant {
    @apply font-['Cormorant_Upright'] text-lg font-bold 
    capitalize leading-8 tracking-wider text-white sm:text-2xl 
    lg:text-2xl lg:leading-[50px];
  }

  .p-opensans {
    @apply font-['Open_Sans'] text-xs font-normal capitalize
    leading-7 tracking-wider text-white sm:text-sm
     lg:leading-[50px];
  }

  .headtext-cormorant {
    @apply font-['Cormorant_Upright'] text-[45px] capitalize
    leading-[70px] text-golden sm:text-[64px] 
    sm:leading-[83.2px] lg:text-[150px] lg:leading-[210px];
  }

  .spoon-img {
    @apply w-[45px] lg:w-[80px];
  }

  .slide-bottom {
    -webkit-animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
      both;
    animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }

  @-webkit-keyframes slide-bottom {
    0% {
      -webkit-transform: translateY(-25%);
      transform: translateY(-25%);
    }
    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  }

  @keyframes slide-bottom {
    0% {
      -webkit-transform: translateY(-25%);
      transform: translateY(-25%);
    }
    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  }
}

/* :root {
  --font-base: "Cormorant Upright", serif;
  --font-alt: "Open Sans", sans-serif;

  --color-golden: #dcca87;
  --color-black: #0c0c0c;
  --color-gray: #545454;
  --color-crimson: #f5efdb;
  --color-grey: #aaaaaa;
  --color-white: #ffffff;
} */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

a {
  color: unset;
  text-decoration: none;
}

/* /// */
